In [3]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://csawant2407:0XRVMxkKC4WNjqzh@cluster0.tbel4ev.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri)

In [6]:
database = client["mongodb_package"]

In [7]:
collection = database["Vehicles"]

In [8]:
data = {
    "car": "mercedez",
    "color": "red",
    "Average": "15 km/hr"
}

In [9]:
data

{'car': 'mercedez', 'color': 'red', 'Average': '15 km/hr'}

In [11]:
collection.insert_one(data)

InsertOneResult(ObjectId('666556c11c56619fe667081b'), acknowledged=True)

In [12]:
all_record = collection.find()

In [14]:
for record in all_record:
    print(record)

{'_id': ObjectId('666556c11c56619fe667081b'), 'car': 'mercedez', 'color': 'red', 'Average': '15 km/hr'}

In [15]:
collection.insert_many([
    {
        "car": "BMW",
        "color": "white",
        "average": "20 km/hr",
    },
    {
        "car": "TATA",
        "color": "blue",
        "average": "25 km/hr",
    },
    {
        "car": "Thar",
        "color": "black",
        "average": "20 km/hr",
    }
])

InsertManyResult([ObjectId('666558111c56619fe667081c'), ObjectId('666558111c56619fe667081d'), ObjectId('666558111c56619fe667081e')], acknowledged=True)

In [46]:
import pandas as pd
import json

class mongodb_operation:

    def __init__(self, client_url:str, database_name:str, collection_name:str):
        self.client_url = client_url
        self.database_name = database_name
        self.collection_name = collection_name

    def create_client(self):
        client = MongoClient(self.client_url)
        return client 
    
    def create_database(self):
        client = self.create_client()
        database = client[self.database_name]
        return database
    
    def create_collection(self, collection:None):
        database = self.create_database()
        collection = database[collection]
        return collection
    
    def insert_record(self, record:dict, collection_name:str):
        if type(record) == list:
            for data in record:
                if type(data) != dict:
                    raise TypeError("Record must be in the dict")
            collection = self.create_collection(collection_name)
            collection.insert_many(record)

        elif type(record) == dict:
            collection = self.create_collection(collection_name)
            collection.insert_one(record)

    def bulk_insert(self, datafile: str, collection_name: str = None):
        if collection_name is None:
            collection_name = self.collection_name

        self.path = datafile

        if self.path.endswith('.csv'):
            data = pd.read_csv(self.path, encoding='utf-8')
        elif self.path.endswith('.xlsx'):
            data = pd.read_excel(self.path)
        else:
            raise ValueError("Unsupported file format. Only .csv and .xlsx are supported.")

        datajson = json.loads(data.to_json(orient='records'))
        collection = self.create_collection(collection_name)
        collection.insert_many(datajson)

In [17]:
client_url = "mongodb+srv://csawant2407:0XRVMxkKC4WNjqzh@cluster0.tbel4ev.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
database = "mynewdatabase"
collection_name = "myoldcolumn"

In [18]:
mongo = mongodb_operation(client_url, database, collection_name)

In [19]:
mongo.insert_record({
    "name": "Chaitannya",
    "designation": "Machine Learning Engineer",
    "salary": "50k",
}, collection_name)

In [21]:
mongo.insert_record([
    {
        "name": "Liam",
        "designation": "Python Developer",
        "salary": "45k",
    }, 
    {
        "name": "Ryan",
        "designation": "AI Engineer",
        "salary": "55k",
    },
    {
        "name": "David",
        "designation": "Data Scientist",
        "salary": "50k",
    },
], collection_name)

In [22]:
import pandas as pd

# Create a sample DataFrame with 10 records
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'Michael', 'Emily', 'David', 'Sophia', 'Daniel', 'Isabella'],
    'Age': [28, 24, 35, 32, 41, 27, 29, 36, 31, 25],
    'City': ['New York', 'Paris', 'London', 'Berlin', 'Tokyo', 'Sydney', 'Madrid', 'Rome', 'Toronto', 'Moscow'],
    'Country': ['USA', 'France', 'UK', 'Germany', 'Japan', 'Australia', 'Spain', 'Italy', 'Canada', 'Russia'],
    'Email': ['john@example.com', 'anna@example.com', 'peter@example.com', 'linda@example.com', 'michael@example.com',
             'emily@example.com', 'david@example.com', 'sophia@example.com', 'daniel@example.com', 'isabella@example.com']
}

# Convert the data into a DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('sample_data.csv', index=False)

In [36]:
client_url = "mongodb+srv://csawant2407:0XRVMxkKC4WNjqzh@cluster0.tbel4ev.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
database = "mynewdatabase"
collection_name = "registration_details"

In [37]:
mongodb = mongodb_operation(client_url, database, collection_name)

In [38]:
mongodb.bulk_insert('sample_data.csv', collection_name)

In [42]:
import pandas as pd

# Create a sample DataFrame with 10 records
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'Michael', 'Emily', 'David', 'Sophia', 'Daniel', 'Isabella'],
    'Age': [28, 24, 35, 32, 41, 27, 29, 36, 31, 25],
    'City': ['New York', 'Paris', 'London', 'Berlin', 'Tokyo', 'Sydney', 'Madrid', 'Rome', 'Toronto', 'Moscow'],
    'Country': ['USA', 'France', 'UK', 'Germany', 'Japan', 'Australia', 'Spain', 'Italy', 'Canada', 'Russia'],
    'Email': ['john@example.com', 'anna@example.com', 'peter@example.com', 'linda@example.com', 'michael@example.com',
             'emily@example.com', 'david@example.com', 'sophia@example.com', 'daniel@example.com', 'isabella@example.com']
}

# Convert the data into a DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to an Excel file
df.to_excel('sample_data.xlsx', index=False)

In [47]:
client_url = "mongodb+srv://csawant2407:0XRVMxkKC4WNjqzh@cluster0.tbel4ev.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
database = "mynewdatabase"
collection_name = "office_details"

In [48]:
mongodb = mongodb_operation(client_url, database, collection_name)

In [49]:
mongodb.bulk_insert('sample_data.xlsx', collection_name)